[submodule "base"]
	path = base
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "secp256k1"]
	path = secp256k1
	url = https://github.com/dderjoel/secp256k1
[submodule "secp256k1_only_c"]
	path = secp256k1_only_c
	url = https://github.com/dderjoel/secp256k1
